<div class="yellow_darkbg">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
              <h2>Contact Us</h2>
             </div>
          </div>
       </div>
    </div>
 </div>

  <div class="contact">
     <div class="container">
        <div class="row">
           <div class="col-md-6">
              <form class="main_form">
                 <div class="row">
                    <div class="col-md-12">
                       <textarea class="contactus1" #message placeholder="Message" type="type" Message="Name"> </textarea>
                    </div>
                    <div class="col-md-12">
                       <button class="send_btn" (click)="sendMessage()">Send</button>
                    </div>
                 </div>
              </form>
           </div>
           <div class="col-md-6">
              <div class="map">
                 <figure><img src="assets/images/map_img.png" alt="#"/></figure>
              </div>
           </div>
        </div>
     </div>
  </div>