<section class="banner_main">
    <div id="banner1" class="carousel slide" data-ride="carousel">
       <ol class="carousel-indicators">
          <li data-target="#banner1" data-slide-to="0" class="active"></li>
       </ol>
       <div class="carousel-inner">
          <div class="carousel-item active">
             <div class="container">
                <div class="carousel-caption">
                   <div class="row d_flex">
                      <div class="col-md-6">
                         <div class="text-bg">
                            <h1>Strategy And <br>Research</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                            <a [routerLink]="['/']">Login to Explore</a>
                         </div>
                      </div>
                      <div class="col-md-6">
                         <div class="text_img">
                            <figure>
                               <img src="assets/images/pct.png" alt="#"/>
                               <h3>01</h3>
                            </figure>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>